.font-amsterdam {
  font-family: 'Amsterdam', cursive;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-synthesis: none;
}
